@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #root {
    font-family: 'Geist Sans', system-ui, sans-serif;
  }
  
  *, *::before, *::after {
    font-family: inherit;
  }
  
  code, pre, kbd {
    font-family: 'Geist Mono', monospace;
  }
}
