@{
    ViewData["Title"] = "Şifre Sıfırlama İsteği Gönderildi";
    Layout = "~/Views/Shared/_LayoutAcademic.cshtml";
}

<h2>Şifre Sıfırlama İsteği Gönderildi</h2>
<p>
    Şifrenizi sıfırlamak için e-posta adresinize bir bağlantı gönderdik. Lütfen e-postanızı kontrol edin.
</p>