@{
    ViewData["Title"] = "Şifre Sıfırlama Başarılı";
    Layout = "~/Views/Shared/_LayoutAcademic.cshtml";
}

<h2>Şifre Sıfırlama Başarılı</h2>
<p>
    Şifreniz başarıyla sıfırlandı. <a asp-action="Login">Giriş yapmak için tıklayın</a>.
</p>